$lt-grey: #ddd;
$background-fade: #ddb4ee;
$background-light: #c45ef3;
$background-dark: #892cf3;

$carousel-height: 300px;
@mixin zero-margin($pad-up-down, $pad-left-right){
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.row-header{
    @include zero-margin(0px, 0px);
}
.footer{
    @include zero-margin(20px, 0px);
    background-color: $background-fade;
}
.row-content{
    min-height: 500px;
}
.row-contain{
    min-height: 400px;
}
.jumbotron{
    background-color: $background-light;
    color: floralwhite;
    @include zero-margin(70px, 30px);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
}
address{
    font-size: 80%;
    color: #0f0f0f;
    @include zero-margin(0px, 0px);
}
body{
    padding: 50px 0 0 0;
}
.navbar-inverse{
    background-color: $background-dark;
}
.tab-content{
    border-left: 1px solid $lt-grey;
    border-right: 1px solid $lt-grey;
    border-bottom: 1px solid $lt-grey;
    padding: 10px;
}
.carousel{
    background-color: $background-dark;
    .carousel-item{
        height: $carousel-height;
        img{
            position: absolute;
            top: 0;
            left: 0;
            min-height: $carousel-height;
    }
}
}
.carousel-caption{
    transform: translate(0,-30px); 
}
#carousel-button{
    position: absolute;
    right: 0;
    bottom: 0;
}
#bookTableModal{
    .modal-header{
        background-color: $background-dark;
        color: floralwhite;
        button{
            color: floralwhite;
        }
    }
    .modal-body{
        background-color: $background-fade;
    }
}
#loginModal{
    .modal-header{
        background-color: $background-dark;
        color: floralwhite;
        button{
            color:floralwhite;
        }
    }
    .modal-body{
        background-color: $background-fade;
    }
    .modal-footer{
        background-color: $background-light;
    }
}