.row-header{
    margin: 0px auto;
    padding: 0px auto;
}
.footer{
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    background-color: #ddb4ee;
}
.row-content{
    min-height: 500px;
}
.row-contain{
    min-height: 400px;
}
.jumbotron{
    background-color: #c45ef3;
    color: floralwhite;
    margin: 0px auto;
    padding: 70px 30px 70px 30px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
}
address{
    font-size: 80%;
    color: #0f0f0f;
    margin: 0px auto;
}
body{
    padding: 50px 0 0 0;
}
.navbar-inverse{
    background-color: #892cf3;
}
.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.carousel{
    background-color: #892cf3;
}
.carousel-item{
    height: 300px;
}
.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
.carousel-caption{
    transform: translate(0,-30px); 
}
#carousel-button{
    position: absolute;
    right: 0;
    bottom: 0;
}