@lt-gray: #ddd;
@background-dark: #892cf3;
@background-light: #c45ef3;
@background-pale: #ddb4ee;
@carousel-height: 300px;

.zero-margin(@pad-up-down: 0px , @pad-left-right: 0px){
    margin: 0px auto;
    padding: @pad-up-down @pad-left-right;
}

.row-header{
    .zero-margin();
}
.footer{
    .zero-margin(20px, 0px);
    background-color: @background-pale;
}
.row-content{
    min-height: 500px;
}
.row-contain{
    min-height: 400px;
}
.jumbotron{
    background-color: @background-light;
    color: floralwhite;
    .zero-margin(70px, 30px);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
}
address{
    font-size: 80%;
    color: #0f0f0f;
    .zero-margin(0px, 0px);
}
body{
    padding: 50px 0 0 0;
}
.navbar-inverse{
    background-color: @background-dark;
}
.tab-content{
    border-left: 1px solid @lt-gray;
    border-right: 1px solid @lt-gray;
    border-bottom: 1px solid @lt-gray;
    padding: 10px;
}
.carousel{
    background-color: @background-dark;
}
.carousel-item{
    height: @carousel-height;
}
.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: @carousel-height;
}
.carousel-caption{
    transform: translate(0,-30px); 
}
#carousel-button{
    position: absolute;
    right: 0;
    bottom: 0;
}